* {
  margin: 0;
  padding: 0;
}
body {
  text-align: center;
  font-family: sans-serif;
}

table {
  margin: auto;
  border-spacing: 0;
}

td {
  border-collapse: collapse;
  border: 1px solid grey;
}

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  display: block;
  width: 200px;
  height: 200px;
  border: 0;
  box-shadow: none;
  font-size: 5rem;
  background-color: white;
}

h1 {
  margin-bottom: 1rem;
}

button:hover:enabled{
  background: lightsteelblue;
}

a {
  display: inline-block;
  margin-top: 20px;
  padding: 20px;
  border: 1px solid grey;
  background: orangered;
}
